<div class="container" id="contact-form">
  <div class="row">
    <div class="title">
      <h2>Sales</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="customerName">Customer Name</label>
          <select class="form-control" formControlName="customerId">
            <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
          </select>
          
        </div>
        <div class="form-group">
          <label for="productName">Product Name</label>
          <select formControlName="productId" class="form-control">
            <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input id="quantity" class="form-control" formControlName="quantity" type="text" 
            #quantity>
        </div>
        <div class="form-group">
          <label for="salePrice">Price</label>
          <input id="salePrice" class="form-control" formControlName="price" type="text" 
            #salePrice>
        </div>
       
        <button class="btn btn-default" type="submit">{{action}}</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>