
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; trackBy: trackById;" >
        <td>{{product.name}}</td>
        <td>{{product.productType}}</td>
        <td (click)="onEditProduct(product)">Edit</td>
        <td (click)="onDeleteProduct(product)">Delete</td>
      </tr>
      
    </tbody>
  </table>
  