<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <select formControlName="productId">
        <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
      </select>
    <!-- <input formControlName="productId" type="text" placeholder="Product Name" class="form-control"> -->
    <input formControlName="quantity" type="text" placeholder="Quantity" class="form-control">
    <input formControlName="price" type="text" placeholder="Price" class="form-control">
    <input formControlName="totalPrice" type="text" placeholder="Total Price" class="form-control" [value]="getTotalPrice()">
    <input formControlName="purchaseDate" type="text" placeholder="Purchase Date" class="form-control">


    <button type="submit">{{action}}</button>
    <button (click)="cancel()">Cancel</button>
  </form>
</div>