<div class="container" id="contact-form">
  <div class="row">
      <div class="title">
          <h2>Customers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="customerName">Customer Name</label>
        <input
          id="customerName"
          class="form-control"
          formControlName="name" 
          type="text" 
          placeholder="Customer Name">
          <label for="customerName">Customer Phone</label>
          <input 
          formControlName="mobileNo" 
          type="text" 
          placeholder="Phone" 
          class="form-control">
          <label for="customerName">Customer Address</label>
          <input 
          formControlName="address" 
          type="text" 
          placeholder="Address" 
          class="form-control">
        <button class="btn btn-default" type="submit">{{action}}</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
