<div *ngIf="!selectedSale">
  <div class="container innerHeader">
    <div class="row">
      <div class="innerTitle">
        <h2>Sales</h2>
        <p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-default" (click)="updateSelectedSale()">Create Sale</button>
      </div>
    </div>
  </div>

  <app-sale-list [sales]="sales" (editSaleEvent)="onEditSaleEvent($event)"
    (deleteSaleEvent)="onDeleteSaleEvent($event)">
  </app-sale-list>
</div>
<app-sale-create *ngIf="selectedSale" [sale]="selectedSale" [customers]="customers" [products]="products"
  (saleCreateEvent)="onSaleCreateEvent($event)" (cancelEvent)="onCancelEvent()"></app-sale-create>