<div *ngIf="!selectedCustomer">
    <div class="container innerHeader">
        <div class="row">
          <div class="innerTitle">
            <h2>Customers</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button class="btn btn-default" (click)="updateSelectedCustomer()">Create Customer</button>
          </div>
        </div>
      </div>
    <app-customer-list
    [customers]="customers"
    (editCustomerEvent)="onEditCustomerEvent($event)"
    (deleteCustomerEvent)="onDeleteCustomerEvent($event)"
    ></app-customer-list>
</div>
<app-customer-create
  *ngIf="selectedCustomer"
  [customer] = "selectedCustomer"
  (customerCreateEvent) = "onCustomerCreateEvent($event)"
  (cancelEvent) = "onCancelEvent()"
  ></app-customer-create>