<div *ngIf="!selectedProduct">
  <div class="container innerHeader">
      <div class="row">
        <div class="innerTitle">
          <h2>Products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-default" (click)="updateSelectedProduct()">Create Product</button>
        </div>
      </div>
    </div>

    <app-product-list
    [products]="products"
    (editProductEvent) = "onEditProductEvent($event)"
    (deleteProductEvent) = "onDeleteProductEvent($event)"></app-product-list>
</div>
<app-product-create 
  *ngIf="selectedProduct"
  [product] = "selectedProduct"
  (productCreateEvent) = "onProductCreateEvent($event)"
  (cancelEvent) = "onCancelEvent()"
  ></app-product-create>